@model CalculateTaxRequest

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <label asp-for="PostalCode">PostalCode:</label>
            <input asp-for="PostalCode" class="form-control" />
        </div>
        <div class="col">
            <label asp-for="AnnualIncome">AnnualIncome:</label>
            <input asp-for="AnnualIncome" class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <button id="calculateBtn" type="button" class="btn btn-dark">Calculate</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h3 id="result"></h3>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/TaxCalculator.js"></script>
}